
html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Open Sans";
    color: #808080;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

@import 'layout';
@import 'headernavbar';
@import 'page-title';
@import 'form-fields';
@import 'details';

// AUTH
@import 'auth/signin.scss';
@import 'auth/signup.scss';


// ACCOUNT
@import 'account/account';
@import 'account/purchase-history';
@import 'account/account-information';

//SHOP
@import 'shop/shop';
@import 'shop/shop-search-bar';
@import 'shop/shop-product';

// CART
@import 'shop/shop-cart';
@import 'shop/cart-product';

// QUANTITY
@import 'quantity';
@import 'green-price-tag';

// REVIEW
@import 'order/review';
@import 'order/review-form';
@import 'order/review-product';

// INFORMATION
@import 'information/payment.scss';
@import 'information/shipping.scss';
@import 'information/info-help.scss';







// body {
//     overflow-x: hidden;
//     font-weight: normal;

//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     text-rendering: optimizeLegibility;
//     -webkit-tap-highlight-color: transparent;
// }

// .home {
//     margin-top: 2rem;
//     display: grid;
//     justify-items: center;
// }

